<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DGA:DataType" value="MsAccess" />
    <add key="DGA:SqlReadCmd" value="select top 1 * from Tab_Data_YSP " />
    <add key="overrideIPEndPoint" value="base64,123123" />
    <add key="overrideModbusType" value="access" />
    <add key="DGA:HeartBeatInterval" value="10" />
    <add key="DGA:RefreshInterval" value="60" />
    <add key="DGA:ReadInterval" value="5" />
    <add key="DGA:TaskInterval" value="5" />
    <add key="DGA:ConnectionTimeout" value="10" />
    <add key="AppSetting:FactoryId" value="0" />
    <add key="AppSetting:ContextServer" value="http://127.0.0.1:5000" />
    <add key="AppSetting:StateSinkServer" value="tcp://10.97.88.74:8018" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>